.app-btn-base {
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  padding: 8px 22px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  transition: 0.1s all ease-in-out;
  &:hover:enabled {
    box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4), 0 1px 2px rgba(57, 73, 76, 0.25);
    text-decoration: none;
  }
  &:active:enabled {
    box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4), 0 1px 2px rgba(57, 73, 76, 0.25);
    background-color: $zd-purple-1;
    color: $white;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.app-btn--outline {
    background: $white;
    color: $zd-grey-4;
    border: none;
    &:active:enabled {
      color: #fff;
    }
  }
}

.app-btn--primary {
  @extend .app-btn-base;
  background-color: $zd-green-2;
  &.app-btn--outline {
    color: $zd-green-2;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.app-btn--secondary {
  @extend .app-btn-base;
  background-color: $secondary;
  &.app-btn--outline {
    color: $secondary;
  }
}

.app-btn--default {
  @extend .app-btn-base;
  background-color: $zd-white-2;
  color: $zd-grey-3;
  &:hover:enabled {
    color: $zd-grey-3;
  }
  &:active:enabled {
    color: $white;
  }
}

.app-btn--grey {
  @extend .app-btn-base;
  background-color: $dark;
  &.app-btn--outline {
    border: 1px solid $dark;
  }
}

.app-btn--danger {
  @extend .app-btn-base;
  background-color: $danger;
  &.app-btn--outline {
    border: 1px solid $danger;
  }
}

.app-btn--reset {
  background: none;
  border: none;
}

.app-radio-btn {
  @extend .app-btn-base;
  font-weight: 500;
  border: 1px solid $primary;
  background: $white;
  color: $zd-grey-4;
  &.active {
    background: $primary;
    color: $white;
  }
  &:hover {
    color: $white !important;
    &:not(.active) {
      color: $zd-grey-4;
      background: $primary;
    }
  }
}

.btn-outline-primary {
  background: $white;
}

.btn-transparent {
  border-width: 0px;
  color: transparent;
  border-color: transparent;

  &:hover {
    border-width: 0px;
    color: transparent;
    border-color: transparent;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.dropdown-toggle::after {
    display: none;
  }
}

.btn-transparent--with-chevron {
  &.dropdown-toggle::after {
    display: block;
    color: black;
  }
}

.app-btn--circle {
  border-radius: 50% !important;
}

.app-btn--small {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
}

.app-btn-social {
  border: none;
  display: block;
  margin: 0 auto 11px;
  height: 38px;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  &:hover:enabled {
    box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4), 0 1px 2px rgba(57, 73, 76, 0.25);
    text-decoration: none;
  }
  fa-icon {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 18px;
  }
}

.app-btn-social--google {
  background-color: $google-color;
  color: $white;
}

.app-btn-social--facebook {
  background-color: $facebook-color;
  color: $white;
}
