@import "variables";

.app-auto-margin {
  margin-left: auto;
  margin-right: auto;
}

.app-auto-margin--l {
  margin-left: auto;
}

.app-auto-margin--r {
  margin-right: auto;
}

@each $spacingVar, $spacingName in $spacingUnits {
  @each $side, $cssSuffix in $spacingSides {
    @if $side != --tb {
      @if $side != --lr {
        .app-#{$spacingName}-margin#{$side} {
          margin#{$cssSuffix}: $spacingVar;
        }
      }
    }
    @if $side == --lr {
      .app-#{$spacingName}-margin#{$side} {
        margin-left: $spacingVar;
        margin-right: $spacingVar;
      }
    }
    @if $side == --tb {
      .app-#{$spacingName}-margin#{$side} {
        margin-top: $spacingVar;
        margin-bottom: $spacingVar;
      }
    }
  }
}