@import "variables";

@each $spacingVar, $spacingName in $spacingUnits {
  @each $side, $cssSuffix in $spacingSides {
    @if $side != --tb {
      @if $side != --lr {
        .app-#{$spacingName}-padding#{$side} {
          padding#{$cssSuffix}: $spacingVar;
        }
      }
    }
    @if $side == --lr {
      .app-#{$spacingName}-padding#{$side} {
        padding-left: $spacingVar;
        padding-right: $spacingVar;
      }
    }
    @if $side == --tb {
      .app-#{$spacingName}-padding#{$side} {
        padding-top: $spacingVar;
        padding-bottom: $spacingVar;
      }
    }
  }
}